.title{
    text-align: center;
}
.pages ul li{
    display:grid;
}
.image-slide{
    width: 400px;
    height: 300px;
}
.image-slide img{
    max-width: fit-content;
    max-height: fit-content;
}

.primary-header{
    display: grid;
    grid-template-areas: 'stack';
    color: white;
}

.primary-header> * {
    grid-area: stack;
}